<app-admin-navbar></app-admin-navbar>
<div class="container mt-4">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
        <button type="button" class="badge badge-info" (click)="filter('all')">All</button>
        <button type="button" class="badge badge-warning" (click)="filter('customer')">Customers</button>
        <button type="button" class="badge badge-danger" (click)="filter('manager')">Managers</button>
        <button type="button" class="badge badge-success" (click)="filter('engineer')">Engineers</button>
    </div>
    <table class="table ">
        <caption>List of users</caption>
        <thead>
        <tr>
            <th scope="col">Emp Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">Role</th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let u of users;">
            <th scope="row">{{u.id}}</th>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.address}}</td>
            <td>{{u.pincode}}</td>
            <td>{{u.role}}</td>
        </tr>
        </tbody>
    </table>
</div>