<app-admin-navbar></app-admin-navbar>
<div class="container mt-3">
    <div class="row">
      <div class="col-3"></div>
      <div class="col">
        <form [formGroup]="deleteForm" (ngSubmit)="onSubmit(deleteForm)">
            <div class="form-group row">
                <label for="empid" class="col-sm-2 col-form-label">User id</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="empid" name="id" formControlName="id">     
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <small class="success" *ngIf="disFlag">User deleted</small>
        <small class="error" *ngIf="errFlag">User with this Id does not exist</small>
    </div>
    <div class="col-3"></div>
    </div>
</div>